<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
    <dict>
      <key>CLIENT_ID</key>
      <string>835189020757-j098gvbmaesj69e4t32bqi8d1rc9g507.apps.googleusercontent.com</string>
      <key>REVERSED_CLIENT_ID</key>
      <string>com.googleusercontent.apps.835189020757-j098gvbmaesj69e4t32bqi8d1rc9g507</string>
      <key>PLIST_VERSION</key>
      <string>1</string>
      <key>BUNDLE_ID</key>
      <string>com.mahesh.GSignIn1</string>
    </dict>
    </plist>